*
{
    -fx-bg: #222222;
    -fx-fg: #676767;
    -fx-txtColor: #dedede;
    -fx-c1: #337cf2;
    -fx-c2: #68d7e0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.context-button, .context-button-flap-l, .context-button-flap-r, .context-button-container, .border-bottom
{
    -fx-gradColor1: -fx-c1;
    -fx-gradColor2: -fx-bg;
}

.defButton:focused
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: none;
}

.invisible-button
{
    -fx-background-insets: 0; /* Remove additional insets */
    -fx-border-insets: 0;
    -fx-effect: none;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.dark-background
{
    -fx-background-color: -fx-bg;
}

.border-bottom
{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -fx-gradColor1;
}

.search-bar-textfield
{
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-prompt-text-fill: gray;
}

.search-bar-btn
{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: -fx-c1;
    -fx-border-radius: 60;
    -fx-background-radius: 60;
    -fx-effect: none;
    -fx-background-insets: 0; /* Remove additional insets */
    -fx-border-insets: 0;
}

.search-bar-btn:hover
{
    -fx-background-color: -fx-c2;
}

.search-bar
{
    -fx-background-color: silver;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 60;
    -fx-border-radius: 60;
}

.movie-modal
{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.movie-modal-gradient
{
    -fx-background-color: linear-gradient(to top, -fx-fg, transparent);
}
/* ////////////////////////////////////////// */
.inactive-context-button
{
    -fx-background-insets: 0; /* Remove additional insets */
    -fx-border-insets: 0;
    -fx-effect: none;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.inactive-context-button-flap-bg
{
    -fx-background-color: transparent;
}

.inactive-context-button-flap-l
{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.inactive-context-button-flap-r
{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.inactive-context-button-container
{
    -fx-background-color: transparent;
}
/* ////////////////////////////////////////// */
.active-context-button
{
    -fx-background-insets: 0; /* Remove additional insets */
    -fx-border-insets: 0;
    -fx-effect: none;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 15 15 0 0;
    /* -fx-border-radius: 15 15 0 0; */
    -fx-background-color: linear-gradient(from 50% 85% to 50% 0%, -fx-gradColor1, -fx-gradColor2);
}

.active-context-button-flap-bg
{
    -fx-background-color: -fx-gradColor1;
}

.active-context-button-flap-l
{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: -fx-bg;
    -fx-background-radius: 0 0 15 0;
    -fx-border-radius: 0 0 15 0;
}

.active-context-button-flap-r
{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: -fx-bg;
    -fx-background-radius: 0 0 0 15;
    -fx-border-radius: 0 0 0 15;
}

.active-context-button-container
{
    -fx-background-color: -fx-bg;
}

.crank, .crank > .viewport {  //not .scrollpane but .scroll-pane
    -fx-background-insets: 0; /* Remove additional insets */
    -fx-border-insets: 0;
    -fx-effect: none;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.movie_modal_button
{
    -fx-background-insets: 0; /* Remove additional insets */
    -fx-border-insets: 0;
    -fx-effect: none;
    -fx-border-width: 3;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: -fx-c1;
    -fx-border-color: -fx-txtColor;
}

.movie_modal_button:hover
{
    -fx-background-color: -fx-c2;
}

.license_popup_content{
    -fx-background-color: -fx-bg;
}
.license_popup_content > *.button-bar > *.container{
    -fx-background-color: -fx-bg;
}
.license_popup_content > *.label.content{
    -fx-font-size: 14px;
    /* -fx-font-weight: bold; */
    /* -fx-fill: red; */
    -fx-text-fill: -fx-txtColor;
}

.license_popup_content:header *.header-panel{
    -fx-background-color: -fx-bg;
    -fx-border-width: 3;
}
.license_popup_content:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    /* -fx-fill: -fx-red; */
    -fx-text-fill: -fx-txtColor;
}
.license_popup_textarea {
    -fx-text-fill: -fx-txtColor;
    -fx-text-inner-color: -fx-txtColor;
}
/*
*/

.cinema_modal
{
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: -fx-fg;
}
